name: Android CI

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'tag name'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取资源
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: 设置JDK17
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: 授予执行权限
        run: chmod +x gradlew
      - name: 编译APK
        run: ./gradlew assembleRelease
        env:
          KEYSTORE_STORE_PASS: ${{ secrets.KEYSTORE_STORE_PASS }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          KEYSTORE_KEY_PASS: ${{ secrets.KEYSTORE_KEY_PASS }}
      - name: 上传APK
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app/build/outputs/apk/foss/release/*/**
